{% extends 'backend/base.html' %}
{% load static %}
<script src="{% static 'js/chunk-vendors.js' %}"></script>
{% load crispy_forms_tags %} 

{% block title %} Create Product {% endblock %}

{% block content %}
  <h2>Create Product</h2>
  <div class="row justify-content-center">
    <form class="col-md-6" method="post" action="{% url 'product:create.product' %}">
      {% csrf_token %}
      {{ product_form|crispy }}
      {{ variant_formset|crispy }}

      <button class="btn btn-primary" type="submit">Create Product</button>
    </form>
  </div>
{% endblock %}
