{% extends 'backend/base.html' %} {% block title %} Product List {% endblock %}
{% block content %}

<div class="d-sm-flex align-items-center justify-content-between mb-4">
  <h1 class="h3 mb-0 text-gray-800">Products</h1>
</div>

<div class="card">
  <form action="" method="get" class="card-header">
    <div class="form-row justify-content-between">
      <div class="col-md-2">
        <input
          type="text"
          name="title"
          placeholder="Product Title"
          class="form-control"
        />
      </div>
      <div class="col-md-2">
        <select name="variant" id="" class="form-control">
          <option selected disabled>--Select A Variant--</option>
          {% for variant in variants %}
              <option value="{{variant.variant_title}}" >{{ variant.variant_title }}</option>
          {% endfor %}
        </select>
      </div>

      <div class="col-md-3">
        <div class="input-group">
          <div class="input-group-prepend">
            <span class="input-group-text">Price Range</span>
          </div>
          <input
            type="text"
            name="price_from"
            aria-label="First name"
            placeholder="From"
            class="form-control"
          />
          <input
            type="text"
            name="price_to"
            aria-label="Last name"
            placeholder="To"
            class="form-control"
          />
        </div>
      </div>
      <div class="col-md-2">
        <input
          type="date"
          name="date"
          placeholder="Date"
          class="form-control"
        />
      </div>
      <div class="col-md-1">
        <button type="submit" class="btn btn-primary float-right">
          <i class="fa fa-search"></i>
        </button>
      </div>
    </div>
  </form>

  <div class="card-body">
    <div class="table-response">
      <table class="table">
        <thead>
          <tr>
            <th>#</th>
            <th>Title</th>
            <th>Description</th>
            <th>Variant</th>
            <th>Price</th>
            <th>In Stock</th>
            <th width="150px">Action</th>
          </tr>
        </thead>
        {% for product in products %}
        <tbody>
          <tr>
            <td>{{ product.id }}</td>
            <td>
              {{ product.title }}
              <br />
              Created at : {{ product.created_at |timesince }} ago
            </td>
            <td>{{ product.description }}</td>
            <td>{{ product.price }}</td>
            <td>{{ product.stock }}</td>
              <button
                onclick="$('#variant_{{product.id}}').toggleClass('h-auto')"
                class="btn btn-sm btn-link"
              >
                Show more
              </button>
            </td>
            <td>
              <dl class="row mb-0" style="height: 80px; overflow: hidden" id="variant_{{product.id}}">
                 {% for variant in product.productvariant_set.all %}
                    <dt class="col-sm-3 pb-0">{{ variant.variant.title }}</dt>
                    <dd class="col-sm-9">
                       <dl class="row mb-0">
                          <dd class="col-sm-4 pb-0">Price: {{ variant.price }}</dd>
                          <dd class="col-sm-8 pb-0">In Stock: {{ variant.stock }}</dd>
                       </dl>
                    </dd>
                 {% endfor %}
              </dl>
              <button onclick="$('#variant_{{product.id}}').toggleClass('h-auto')" class="btn btn-sm btn-link">
                 Show more
              </button>
           </td>
           
            <td>
              <div class="btn-group btn-group-sm">
                <a href="" class="btn btn-success">Edit</a>
              </div>
            </td>
          </tr>
        </tbody>
        {% endfor %}
      </table>
    </div>
  </div>

  <div class="card-footer">
    <div class="row justify-content-between">
      <div class="col-md-6">
        <p>
          Showing {{ products.start_index|default:0 }} to {{ products.end_index|default:0 }} out of
          {{ products.paginator.count }}
        </p>
      </div>
      <div class="col-md-2">
        <nav aria-label="Page navigation example">
          <ul class="pagination">
            {% if products.has_previous %}
              <li class="page-item">
                <a class="page-link" href="?page=1" aria-label="First">
                  <span aria-hidden="true">&laquo;&laquo;</span>
                </a>
              </li>
              <li class="page-item">
                <a class="page-link" href="?page={{ products.previous_page_number }}" aria-label="Previous">
                  <span aria-hidden="true">&laquo;</span>
                </a>
              </li>
            {% endif %}

            {% for num in products.paginator.page_range %}
              <li class="page-item {% if products.number == num %}active{% endif %}">
                <a class="page-link" href="?page={{ num }}">{{ num }}</a>
              </li>
            {% endfor %}

            {% if products.has_next %}
              <li class="page-item">
                <a class="page-link" href="?page={{ products.next_page_number }}" aria-label="Next">
                  <span aria-hidden="true">&raquo;</span>
                </a>
              </li>
              <li class="page-item">
                <a class="page-link" href="?page={{ products.paginator.num_pages }}" aria-label="Last">
                  <span aria-hidden="true">&raquo;&raquo;</span>
                </a>
              </li>
            {% endif %}
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
{% endblock %}